<div class="row justify-content-center">
    {{#if groups }}
    <div class="col-3">
       {{>addToGroupP}}
    </div>
    {{/if}}
    <div class="col-6 justify-content-center">
        <h2>{{title}} ({{year}})</h2>
        <!--        <p>id: {{id}}</p>-->
        <p>description: {{description}}</p>
        <p>runtime: {{runtimeMins}} minutes</p>
        <p>IMDB Rating: {{imdbRating}}</p>
        <p>Director(s): {{directors}}</p>
        <p>Writer(s): {{writers}}</p>
        <p>Actors:</p>
        {{#each actors}}
            <div class="row justify-content-center text-center">
                {{> actorP}}
            </div>
        {{/each}}
    </div>
</div>
