{{#with movie}}
    <div class="card mb-3" style="max-width: 880px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{imageUrl}}" class="card-img" alt="poster">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{title}} ({{year}})</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">IMDB Rating: {{imdbRating}}</p>
                    <p class="card-text">Director(s): {{directors}}</p>
                    <p class="card-text">Writer(s): {{writers}}</p></div>
            </div>
        </div>
    </div>
    <h3>Actors:</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {{#each actors}}
            {{> actorP}}
        {{/each}}
    </div>
{{/with}}
