<p>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>duration: {{totalDuration}}</p>
    <p>movies:</p>
    <ul>
        {{#each movies}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</p>
<!--    <p><a href="/site/groups/{{id}}/edit">Edit</a></p>-->
