
<!--<div class="col-8">-->
    <div class="col-2">
        <img src="{{image}}" alt="poster" class="img-fluid">
    </div>
    <div class="col-7">
    <h2 class="text-lg-center"><a href="/movies/{{id}}">{{title}} ({{year}})</a></h2>
<!--    <p>id: {{id}}</p>-->
    <p>rank: {{rank}}</p>
    <p>IMDB Rating: {{imdbRating}}</p>
    </div>
<!--</div>-->
