<div class="col-1">
    <img src="{{image}}" alt="poster" class="img-fluid">
</div>
<div class="col-3">
    <h2 class="text-lg-center">{{title}} ({{year}})</h2>
    <p>id: {{id}}</p>
    <p>rank: {{rank}}</p>
    <p>IMDB Rating: {{imdbRating}}</p>
</div>
